# the assembled text code
*.p
ram.bin
iram.bin
.vscode/6502-project.json
code.o
*.bin
*.img
thefile
riscv
ast.json
code.txt
node_modules
the_e_programming_language/code.a
the_e_programming_language/*.a
deno.lock
yarn.lock
the_e_programming_language/depths.json
